build/
server/build/
**/build/

CMakeCache.txt
**/CMakeCache.txt
CMakeFiles/
**/CMakeFiles/
cmake_install.cmake
**/cmake_install.cmake
_deps/
**/_deps/

.git/
.github/

*.exe
*.dll
*.o
*.obj
*.a
*.lib
*.user